body{
	background-color: rgba(255, 192, 167, 0.1);
     animation: fadeInAnimation ease 3s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
h1{
	font-family: 'Indie Flower', cursive;
	color: rgba(255, 192, 167, 0.7);
	font-style: italic;
	font-size: 5em;
	margin-bottom: 0.5em;
	margin-right: 2em;
	margin-left: 2em;
	border-left: 0px;
	border-right: 0px;
	position: relative;
	animation: mymove 4s;
	animation-timing-function: ease-in;
	text-decoration: underline;
	padding-left: 32%;
	padding-bottom: 0px;
	/*border-bottom: 4px solid grey rgba(255, 192, 167, 0.5);
*/

}
.firstblock{
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.firsttext{
	display: flex;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}
.secondblock{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	background-color: rgba(0, 0, 0, 0.5);

}

.secondtext{
	float: right;
	margin: 0 6em;
	color: white;
	
}
.secondimage{
	margin-right: 8em;
}

.thirdblock {
	margin-top: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.thirdtext{
	margin-left: 1em;
	margin-right: 1em;
}
.thirdimage{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.forthblock{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	

}
.forthtext{
	margin-left: 1em;
	margin-right: 1em;
	 background-color: rgba(0, 0, 0, 0.5);
	 color: white;
}
.paw {
	padding-right: 5em;
	padding-left: 0px;
}
.foot{
	padding-right: 0px;
	padding-left: 5em;
}
.imagefor{
    margin-bottom: 4em;


}
p{
	font-style: italic;
	font-family: 'Indie Flower', cursive;
	font-size: 1.5em;
	line-height: 2;
}
button{
	border-radius:  10% / 50%;
	border:2px solid rgba(255, 192, 167, 0.7);
	background-color: rgba(255, 192, 167, 0.1);
	width: 10em;
	height: 4em;
	margin-bottom: 1em;
	font-weight: bold;
	color: rgba(255, 192, 167, 1);
}
.btn{
	text-align: center;


}
button:hover {
	cursor: pointer;

}
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
	h1{font-size: 10em; margin-right: 0em; margin-left: 0em; text-align: center; padding-left: 0;}
	.firsttext{width: 100%; font-size: 2.5em;}
	.secondblock{display: inline-block;text-align: center;  margin-left: 2.5em; margin-right: 0em; padding-right: 2em; padding-left: 2em;}
	.secondtext{float: none;width: 100%; font-size: 2.5em; display: inline; margin: 0px; padding-bottom: 0px;}
	.secondimage{ margin:0; text-align: center; }
	.alex{width: 700px ; height: 850px; padding-bottom: 6em; padding-top: 2em; margin-top: 0px;}
	.thirdblock{display: inline-block;}
	.thirdtext{width: 100%; font-size: 3.5em; margin:0; background-image: url(paw.png); background-size: 1000px; background-repeat: no-repeat; }
	.kna{width: 800px; height: 700px;}
	.paw{display: none;}
	.foot{display: none;}
	.forthblock{ display: inline-block; }
	.forthtext{text-align: center; float: none;width: 100%; font-size: 3.5em; display: inline; margin: 0px; padding-bottom: 0px; padding-right: 0px;}
	.imagefor{text-align: center;}
	.familly{width: 700px; height: 600px;}
	button{width: 12em; height: 5em; font-size: 2.3em;}
	}