html { 
	font-size:100%; 
}
body{
	 animation: fadeInAnimation ease 3s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
img {
	max-width: 100%; height: auto; 
	width: 400px;
	height:600px;
	box-shadow: 5px 7px rgba(134, 140, 145, 0.3);
	border: 1px solid rgba(134, 140, 145, 0.7);
 
}
.container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	
}

.firstpage{
	display: flex;
	flex-wrap: wrap;
	margin-left: 2em;
	margin-right: 2em;

}
.leftpage{
	display: flex;
	float: none;
	width: 400px;
	height: 600px;
	background-color: rgba(95, 95, 95, 0.05);
	

	
	}
.rightpage{
	display: flex;
	flex-wrap: wrap;
	float: none;
	width: 400px;
	height: 600px;
	background-color: rgba(95, 95, 95, 0.05);

}
li{
	list-style-type: none;
	text-align: center;
	padding-top: 10em;
	padding-left: 8em;
	padding-bottom: 0px;
}
a{
	color: black;
	text-decoration: none;
	font-family: 'Crimson Text', serif;
	font-size: 2rem;
	color:rgba(95, 95, 95, 0.2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgba(117, 159, 84, 0.5);

}
a:hover{
	background-color: white;
	color: black;
	text-decoration: underline;


}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(118, 93, 105, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  

}
.sidenav li{
	padding: 1em 0;
	margin: 0;
	text-align: center;
	width: 30%;
	margin-right: 0;


}
.sidenav ul{
margin-left: 30em;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1.6rem;
  font-size: 2rem;
}
.dropbtn{
	margin-top: 3em;
	font-size: 1.2em;
	color: rgba(95, 95, 95, 0.8);
	border:none;
	font-family: 'Crimson Text', serif;
}
.dropbtn:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	text-decoration: underline;
}
.btn{
	text-align: center;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 768px) {
	.container{ justify-content: space-around;}
	body{background-color: rgba(95, 95, 95, 0.05);font-size:1rem;} 
	.leftpage{order: 2; background-color: unset;/*flex-basis: 10%;*/ padding-left: 0; margin-left: 0; margin-top: 3rem; width: 20%; height: 4rem; }
	.rightpage{order: 3;background-color: unset; /*flex-basis: 10%;*/ padding-left: 0; margin-left: 0;margin-top: 3rem;width: 20%; height: 4rem; }
	.firstpage{order: 1; padding-left: 0; padding-right: 0;margin-left: 25%; margin-right: 25%; }
	a{text-decoration: underline; float: left;font-size: 1.5rem; padding-left: 0; margin: 0; padding: 0;}
	li{padding-left: 0; padding-top: 0;}
	ul{padding-right: 0; margin:0 0;padding-left: 0; }
	img{width: 15rem;height:20rem;}
	.sidenav a{font-size: 1.6rem;padding-bottom: 0;}
	.sidenav li{margin-bottom: 3rem;}
	.sidenav ul{margin-left: 9rem;}
    .dropbtn{font-size: 1rem; }

}



/*@media only screen and (min-device-width: 280px) and (max-device-width: 1200px) {
	.container{display: inline-block;}
	body{background-color: rgba(95, 95, 95, 0.05);font-size:1rem;} 
	img{width: 15rem;height:25rem; margin-right: 0; padding-right: 0px; border:1px solid rgba(134, 140, 145, 0.7); box-shadow: none;}
	.firstpage{float: right; padding: 0;padding-left: 0rem; float: right; margin-right: 0rem;margin-left: 6.5rem;}
	.leftpage{  float: left; width: 0.2rem;height: 2rem;padding-left: 0;  margin-left: 0; margin-bottom: 0; background-color: rgba(95, 95, 95, 0);}
	.rightpage{ float:left; width: 0.3rem;height: 2rem; margin-top: 10rem; margin-right: 0; margin-left: 0; padding: 0; background-color: rgba(95, 95, 95, 0);}
	li{padding-top: 4rem; padding-left: 0rem; margin-left: 0; }
	a{text-decoration: underline; float: left; padding-bottom: 1em;font-size: 1.5rem;}
	ul{padding-left: 0;}
	.sidenav a{padding-bottom: 0;}
	.sidenav li{margin-bottom: 15rem;}
	.sidenav ul{margin-left: 20rem;}
    .dropbtn{}
}*/
 
/* @media only screen and (min-device-width: 280px) and (max-device-width: 1200px) {
	.container{display: inline-block;}
	body{background-color: rgba(95, 95, 95, 0.05);}
	img{width: 650px;height:1150px; margin-top: 1em; margin-right: 0px; padding-right: 0px; border:1px solid rgba(134, 140, 145, 0.7); box-shadow: none;}
	.firstpage{float: right; padding-right: 0;float: right; margin-right: 1em;margin-top: 2em;}
	.leftpage{  float: left; width: 250px;height: 400px; margin-left: 0px;padding-top: 17em; background-color: rgba(95, 95, 95, 0);}
	.rightpage{ float:left; width: 250px;height: 400px;margin-top: 0; margin-right: 0px; margin-left: 0px; padding: 0px; background-color: rgba(95, 95, 95, 0);}
	li{padding-top: 5em; padding-left: 0;}
	a{font-size: 3.5em;text-decoration: underline; float: left; padding-bottom: 1em;}
	.sidenav a{font-size: 5em;padding-bottom: 0;}
	.sidenav li{margin-bottom: 15em;}
	.sidenav ul{margin-left: 20em;}
    .dropbtn{font-size: 3em; }
}*/
 @media only screen and (min-device-width:1201px) and (max-device-width: 1281px){
 	.leftpage{width: 300px; height: 600px; }
 	.rightpage{width: 300px; height: 600px; }
 	.firstpage{margin-left: 0; margin-right: 0;}
 	li{padding-left: 4em;}
 }

 @media only screen and (min-device-width:1920px) and (max-device-width: 4000px){
 	.container{ align-items: center; margin-top: 0; margin-left: -2%;}
 	.leftpage{width: 600px; height: 1500px; flex-grow:0;padding-left: 0; padding-right: 0;}
 	.firstpage{margin-top: 7em; padding-left: 0; padding-right: 0}
 	img{width: 600px; height: 1200px;}
 	.rightpage{width: 600px; height: 1500px;flex-grow: 0;padding-left: 0; padding-right: 0}
 	a{font-size: 5em; line-height: 3em;padding-left: 1em;}
 	.sidenav a{font-size: 5em; }
	.sidenav ul{margin-left: 60em;}
	 .dropbtn{font-size: 3em; }	
 }