body{
	 animation: fadeInAnimation ease 5s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
img {
	width: 400px;
	height:600px;
	box-shadow: 5px 7px rgba(134, 140, 145, 0.3);
	border: 1px solid rgba(134, 140, 145, 0.7);
 
}
.firstpage{
	padding-top: 1em;
	padding-left: 7em;
	padding-right: 7em;
	display: inline-block;
	float: left;
}
.leftpage{
	display: inline-block;
	float: left;
	width: 300px;
	height: 600px;
	margin-top: 1em;
	margin-left: 3em;
	background-color: rgba(95, 95, 95, 0.05);
	
	}
.rightpage{
	display: inline-block;
	float: left;
	width: 300px;
	height: 600px;
	margin-top: 1em;
	margin-right: 3em;
	background-color: rgba(95, 95, 95, 0.05);

}
li{
	list-style-type: none;
	text-align: center;
	padding-top: 10em;



}
a{
	text-decoration: none;
	color: black;
	font-family: 'Crimson Text', serif;
	font-size: 40px;
	color:rgba(95, 95, 95, 0.2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgba(117, 159, 84, 0.5);


}
ul{
}