html { 
	font-size:100%; 
}
body{
	background-color: rgba(240, 155, 179, 0.3);
	text-align: center;
}
h1{
	text-align: center;
	color: white;
	font-size: 3rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	text-decoration: underline;
}
p{
	margin-bottom: 8rem;
	margin-top: 0;
	text-align: center;
	margin-left: 5rem;
	margin-right: 5rem;
	font-style: italic;
	font-size: 2rem;
	line-height: 200%;
}

.intro{
	margin-bottom: 1rem;
}
img{
	margin-top: 2rem;
	padding-top: 0;
	margin-bottom: 3rem;
	text-align: center;
}
div{
	text-align: center;
}
.registry{
	background-color: white;
	border-radius: 30px;
	margin-bottom: 2rem;
}
.amazon a{
	font-size: 2rem;
	text-align: center;
	background-color: rgba(240, 155, 179, 0.5);
	color: white;
	border: 2px solid white;
	border-radius: 2rem;
	padding: 0.3rem 1rem;
}

button{
	border-radius:  10% / 50%;
	width: 9rem;
	height: 4rem;
	background-color: rgba(240, 155, 179, 0.1);
	color: rgba(0, 0, 0; 0.5);
}
.donation{
	margin-top: 3rem;
	margin-bottom: 2rem;
}
.donsite{
	font-size: 2rem;
	text-align: center;
	margin:6rem 0;
	color: white;
	background-color: rgba(240, 155, 179, 0.4);
}
a:hover{
	cursor: pointer;
	color: rgba(95, 95, 95, 1);

}
.btn2{
	text-align: center;
	margin-top: 5rem;

}
button:hover {
	cursor: pointer;

}
.homepage{
	background-color: black;
	color:white;
	border-radius:  10% / 50%;
	width: 7rem;
	height: 3rem;
}
button{
	font-family: 'Indie Flower', cursive;
	font-size: 1.2rem;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
	font-style: normal;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) {
	html{font-size: 1rem;}
	h1{margin-bottom: 2rem; padding-top: 0;}
	.registry{display: inline-block;}
	.amazon a{margin-bottom: 7rem;}
	.donation{margin-top: 2rem; margin-bottom: 1rem;}
	.donsite{font-size: 1rem; padding:0; margin: 1rem 0; text-align: center; }
	p{margin-left: 1rem;margin-right: 1rem;}
}
@media only screen and (min-device-width:768px)and (max-device-width: 1365px){
	html{font-size: 1.2rem;}
	h1{margin-bottom: 3rem;}
}	
	
 @media only screen and (min-device-width: 1900px){
 	html{font-size: 1.5rem;}
 	img{width: 25rem; height: 30rem;}
 }