html,body{
  width:100%;
  margin:0;
  padding:0;

}
body{
	 animation: fadeInAnimation ease 5s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
     background-color: rgba(156, 173, 224, 0.1);
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.head{
	float: left;
	margin-left: 2rem;
}
h1{
	text-align: center;
	text-decoration: underline;
	font-family: 'Crimson Text', serif;
	color: rgba(95, 95, 95, 0.4);
	font-size: 3rem;
	margin-top: 2.5rem;
	margin-left: 1.5rem;
	margin-right: 0;	
}
h2{
	text-align: center;
	margin-left: 1rem;
	margin-right: 0;
	margin-top: 1rem;
	color: white;
	font-style: italic;
	font-family: 'Indie Flower', cursive;
	font-size: 1.8rem;
	background-color: rgba(95, 95, 95, 0.8);
}
h3{
	margin-top: 15rem;
	margin-left: 2rem;
}
a{
	color: rgba(95, 95, 95, 0.5);
}
div{
	text-align: center;
}
hr{
	border:1px solid black;
	margin-top: 4rem;
	margin-left: 5rem;
	margin-right: 5rem;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 3rem;
	margin-right: 3rem;
}
.img1{
	margin-top: 6rem;

}
.img2{
	margin-top: 4em;
}
.img3{
	margin-top: 3em;
}
.img4{
	margin-top: 7em;
}
p{
	padding-top: 1em;
}
.p1, .p3{
	width: 40%;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Indie Flower', cursive;
	line-height: 200%;
	background-color: grey;
	border-radius:  30px;
	margin-top: 2rem;
}
.p2, .p4{
	line-height: 200%;
	width: 40%;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Indie Flower', cursive;
	margin-top: 2rem;
}
button{
	border-radius:  10% / 50%;
	width: 10rem;
	height: 4rem;
	margin-bottom: 1rem;
	font-weight: bold;
	background-color: rgba(156, 173, 224, 0.2);
	color: rgba(0, 0, 0, 1);
	font-family: 'Indie Flower', cursive;
	font-size: 1.2rem;
}
.btn{
	text-align: center;
}
button:hover {
	cursor: pointer;

}
@media only screen and (min-device-width: 280px) and (max-device-width: 767px) {
	body{font-size:1rem;}
	.head{float: none; margin-top: 3rem; margin-left: 0;}
	h2{margin-right: 1rem;}
	h3{margin-left: 0; margin-top: 6rem;}
	.img00{ width: 25rem; height: 25rem;}
	hr{margin:1rem 1rem; border-color: rgba(0, 0, 0, 0.3);}
	.container{margin: 0 0;}
	.img1,.img2, .img3, .img4{width: 20rem; height: 20rem;}
	.img4{margin-bottom: 3rem; margin-top: 1rem;}
	.img1{margin-top: 0;}
	.p1,.p3, .p2, .p4{ width: 100%; border-radius: 0;margin-top: 1rem; padding: 0 1rem;}
	p{padding-top: 0;}
	}
@media only screen and (min-device-width: 768px) and (max-device-width: 1365px){
	html{font-size: 1.2rem}
	.head{float: none; margin-left: 0;}
	h2{margin-right: 1rem;}
	h3{margin-top: 9rem;}
	.img00{width: 45rem; height: 45rem;}
	hr{margin: 2rem 1rem;}
    .img1, .img2, .img3, .img4{width: 35rem; height: 35rem;}
    .img4{margin-bottom: 3rem;}
	.p1,.p3, .p2, .p4{ width: 100%;line-height: 300%;}
}	

@media only screen and (min-device-width: 1900px){
	html{font-size:1.5rem}
	.img00{width: 45rem; height: 45rem;}
	.img1, .img2, .img3, .img4{width: 35rem; height: 35rem;}
	.p1, .p2, .p3, .p4{line-height: 300%}
}