body{
	background-color: rgba(255, 192, 167, 0.1);
     animation: fadeInAnimation ease 3s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
h1{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	font-family: 'Indie Flower', cursive;
	color: rgba(255, 192, 167, 0.7);
	font-style: italic;
	font-size: 5em;
	text-decoration: underline;
}
.firstblock{
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.firsttext{
	display: flex;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}
.secondblock{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	background-color: rgba(0, 0, 0, 0.5);
}
.sectext{
	float: right;
	margin: 1rem 3.5rem;
	color: white;
	
}
.secondimage{
	margin-right: 8em;
}

.thirdblock {
	margin-top: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.thirdtext{
	margin-left: 1em;
	margin-right: 1em;
}
.thirdimage{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.forthblock{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.forthtext{
	margin-left: 1em;
	margin-right: 1em;
	 background-color: rgba(0, 0, 0, 0.5);
	 color: white;
}
.paw {
	padding-right: 5em;
	padding-left: 0px;
}
.foot{
	padding-right: 0px;
	padding-left: 5em;
}
.imagefor{
    margin-bottom: 4em;
}
p{
	font-style: italic;
	font-family: 'Indie Flower', cursive;
	font-size: 1.5em;
	line-height: 2;
}
button{
	border-radius:  10% / 50%;
	background-color: rgba(255, 192, 167, 0.1);
	color: rgba( 0, 0, 0, 0.5);
	width: 10em;
	height: 4em;
	margin-bottom: 1em;
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}
.btn{
	text-align: center;
}
button:hover {
	cursor: pointer;
}
@media only screen and (min-device-width: 280px) and (max-device-width: 767px) {
	h1{ margin-right: 0em; margin-left: 0em; text-align: center; padding-left: 0;}
	body{font-size:1rem;}
	.firstblock{margin-right: 0px; padding-right: 0px;}
	.rosering{display: none;}
	.rose, .shadow { padding-right: 0px; margin-right: 0px; display: inline; width: 20rem; height:15rem; }
	.firsttext{width: 100%;  text-align: center; margin-left: 0; margin-right: 0;}
	.secondblock{ flex-direction: column; margin: 0 0; padding: 0 1rem;}
	.sectext{float: none;width: 100%; padding: 0 0rem;  margin: 0 0;  text-align: center; }
	.secondimage{ margin:0; padding-bottom: 2rem; text-align: center; }
	.alex{width: 20rem; height: 25rem; margin-top: 0px;}
	.thirdblock{}
	.thirdtext{width: 100%;text-align: center; margin-right:0; margin-left: 0px; background-image: url(paw.png); background-size: 40rem; background-repeat: no-repeat; }
	.kna{width: 20rem; height: 20rem;}
	.paw{display: none;}
	.foot{display: none;}
	.forthblock{  text-align: center;  padding: 0 0; margin: 0 0;}
	.forthtext{float: none;width: 100%; padding-bottom: 0; }
	.imagefor{ text-align: center;}
	.familly{width: 18rem; height: 18rem;}
	button{color: rgba(0, 0, 0, 0.5);}
	}
@media only screen and (min-device-width:1201px) and (max-device-width: 1281px){
	.secondblock{display: inline-block;}
	.secondtext{float: none; margin-right: 2em; margin-left: 2em; }
    .secondimage{text-align: center; margin-bottom: 2em; margin-right: 0;}
}
@media only screen and (min-device-width: 1900px)and (max-device-width: 4000px) {
	h1{font-size: 12em;}
	.rose, .shadow{width: 900px; height: 900px;}
	.rosering{width: 750px; height: 850px;}
	.firsttext, .secondtext{font-size: 3em;}
	.secondblock{display: inline-block;}
	.secondtext{float: none; margin-right: 2em; margin-left: 2em; }
    .secondimage{text-align: center;}
	.alex{width: 900px; height: 1150px; margin-right: 0; text-align: center; padding-bottom: 4em;}
	.thirdtext, .forthtext{font-size: 5em;}
	.pawpic{width: 500px; height: 500px; }
	.kna{width: 1000px; height: 900px;}
	.footpic{width: 500px; height: 500px;}
	.familly{width: 900px; height: 800px;}
	button{width: 8em; height: 3em; font-size: 3em;}
}