html { 
	font-size:100%; 
}
body{
	background-color: rgba(255, 192, 167, 0.1);
     animation: fadeInAnimation ease 3s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
h1{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	font-family: 'Indie Flower', cursive;
	color: rgba(255, 192, 167, 0.7);
	font-style: italic;
	font-size: 5rem;
	text-decoration: underline;
}
.firstblock{
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.firsttext{
	display: flex;
	align-items: center;
	margin-left: 1rem;
	margin-right: 1rem;
}
.secondblock{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
}
.sectext{
	float: right;
	margin: 1rem 3.5rem;
	color: white;
	
}
.secondimage{
	margin-right: 8em;
}

.thirdblock {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.thirdtext{
	margin-left: 1rem;
	margin-right: 1rem;
}
.thirdimage{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.forthblock{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.forthtext{
	margin-left: 1rem;
	margin-right: 1rem;
	 background-color: rgba(0, 0, 0, 0.5);
	 color: white;
}
.paw {
	padding-right: 5rem;
	padding-left: 0;
}
.foot{
	padding-right: 0;
	padding-left: 5rem;
}
.imagefor{
    margin-bottom: 4rem;
}
p{
	font-style: italic;
	font-family: 'Indie Flower', cursive;
	font-size: 1.5rem;
	line-height: 2;
}
button{
	border-radius:  10% / 50%;
	background-color: rgba(255, 192, 167, 0.1);
	color: rgba( 0, 0, 0, 0.5);
	width: 10rem;
	height: 4rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}
.btn{
	text-align: center;
}
button:hover {
	cursor: pointer;
}
@media only screen and (min-device-width: 280px) and (max-device-width: 767px) {
	html{font-size: 1rem;}
	h1{ margin:0; text-align: center;}
	.rosering{display: none;}
	.rose, .shadow { padding-right: 0; margin-right: 0; display: inline;width: 15rem; height:15rem; }
	.firsttext{width: 100%;  text-align: center; margin-left: 0; margin-right: 0;}
	.secondblock{ flex-direction: column; margin: 0 0; padding: 0 1rem;}
	.sectext{float: none;width: 100%; padding: 0 0rem;  margin: 0 0;  text-align: center; }
	.secondimage{ margin:0; padding-bottom: 2rem; text-align: center; }
	.alex{width: 20rem; height: 25rem; margin-top: 0;}
	.thirdblock{}
	.thirdtext{width: 100%;text-align: center; margin-right:0; margin-left: 0; background-image: url(paw.png); background-size: 40rem; background-repeat: no-repeat; }
	.kna{width: 20rem; height: 20rem;}
	.paw{display: none;}
	.foot{display: none;}
	.forthblock{  text-align: center;  padding: 0 0; margin: 0 0;}
	.forthtext{float: none;width: 100%; padding-bottom: 0; }
	.imagefor{ text-align: center;}
	.familly{width: 18rem; height: 18rem;}
	button{color: rgba(0, 0, 0, 0.5);}
	}
@media only screen and (min-device-width:768px) and (max-device-width: 1365px){
	html{font-size: 1.2rem;}
	.secondblock{display: inline-block;}
	.secondtext{float: none; margin-right: 2em; margin-left: 2em; }
    .secondimage{text-align: center; margin-bottom: 2em; margin-right: 0;}
}
@media only screen and (min-device-width: 1900px) {
	html{font-size: 1.5rem;}
	.rose, .shadow{width: 35rem; height: 35rem;}
	.rosering{width: 25rem; height: 30rem;}
	.sectext{line-height: 300%;}
	.alex{width: 27rem; height: 36rem;}
	.pawpic{width: 15rem; height: 15rem; }
	.kna{width: 35rem; height: 30rem;}
	.footpic{width: 15rem; height: 15rem;}
	.familly{width: 25rem; height: 25rem;}
}
